# Build/install directory.
build/
install/

# Binary files.
*.o

# Python virtual environment.
venv/
.venv/
env/
.env/

# Python cache files.
__pycache__/

# Pytest cache files.
.pytest_cache/

# Jupyter notebook checkpoints.
.ipynb_checkpoints/

# Swap files.
*.swp
